body {
	font-family: "Century Gothic", Arial, sans-serif;
}

#jumbo{
	background-color: #4d2600;
	background: linear-gradient(#4d2600, black);
	color:white;
	font-family: "Rockwell", Arial, sans-serif;
}

h1, h2, h3, h4 {
	font-family: "Rockwell", Arial, sans-serif;;
}

#select-country-prompt{
	text-align:center;
	font-weight: bold;
}

#country-detail-paragraph{
	text-align: justify;
}

#footer-container{
	background-color:black;
	color:white;
	text-align: center;
	padding-top: 10px;
}
